body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: white;
}

#quote-box {
  width: 500px;
  height: 500px;
  border: 1px solid white;
  text-align: center;
}

#text {
  font-style: oblique;
  height: 184px;
  border: 1px solid white;
}

#author {
  border: 1px solid white;
  text-align: right;
  padding: 16px;
}

button {
  padding: 8px;
  cursor: pointer;
  width: 50%;
}
